.head_container {
	width: 90%;
	margin: 0 auto;
}

.container {
	width: 88%;
	margin: 0 auto;
}

.heading {
	color: var(--almost_black);
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

.text {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

.bold_text {
	color: var(--white);
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

.para_primary {
	font-size: 1.125rem;
	line-height: 1.6875rem;
}

.btn {
	border: none;
	background: none;
	cursor: pointer;
}

.btn_link {
	text-decoration: none;
}

.get_started_btn {
	color: var(--white);
	font-family: "Open Sans", sans-serif;
	font-size: 0.875rem;
	font-weight: 700;
	padding: 12px 54px;
	border-radius: 1.75rem;
	background: var(--pink);
	box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.17);
}

.get_started_btn:hover {
	background-color: var(--light_pink);
}
